<h1>{{ title }}</h1>
<h2>{{ description }}</h2>

{{#if username}}
  <h3>Welcome {{ username }}.</h3>
{{ else }}
  <h3>Welcome anonymous.</h3>
{{/if}}

{{#if sessionid}}
  <h3>Cookie {{ sessionid }}.</h3>

  {{#if tokenstatus}}
    <h3>Fitbit token in place!</h3>
  {{ else }}
    <h3>No Fitbit token!!!!</h3>
    <a href="{{fitbiturl}}">Login with Fitbit</a>
    <br></br>
  {{/if}}

{{ else }}
  <h3>No session!!!!</h3>
{{/if}}

{{# if success }}
    <section class="success">
        <h3>Successful Validation!</h3>
        <p>Start date: {{ startdate }}</p>
        <p>End date: {{ enddate}}</p>
    </section>
{{ else }}
  {{# if errors }}
      <section class="errors">
          <ul>
              {{# each errors }}
                  <li>{{ this.msg }}</li>
              {{/each}}
          </ul>
      </section>
  {{/if}}

  <!--<form action="/fitbit/get-activities" method="get" target="/"> -->
  <form action="/submit" method="post">
    <div class="input">
      <label for="startdate">Start Date</label>
      <input type="text" id="startdate" name="startdate"/>
    </div>
    <div class="input">
      <label for="enddate">End Date</label>
      <input type="text" id="enddate" name="enddate"/>
    </div>
    <button type="submit">Submit date range</button>
  </form>
{{/if}}

<p></p>

{{# if hractivitydate }}
    <section class="hractivity">
      <!--
      <h3>HR Data retrieved for {{ this.hractivitydate }} </h3>
        <div>
            {{# each hractivity }}
                <article class="item">
                    <div>name: {{ this.name }}</div>
                    <!--<div>accessLevel: {{ this.accessLevel }}</div>
                      <div>id: {{ this.id }}</div>
                      <div>hasSpeed: {{ this.hasSpeed }}</div>
                      <div>activityLevels: {{ this.activityLevels }}</div>
                    - - >
                    <div>min: {{ this.min }}</div>
                    <div>max: {{ this.max }}</div>
                    <div>minutes: {{ this.minutes }}</div>
                    <div>caloriesOut: {{ this.caloriesOut }}</div>
                </article>
            {{/each}}
        </div>
      -->
      <div class="container">
        <canvas id="hrChart"></canvas>
      </div>

      <script>
        let hrChart = document.getElementById('hrChart').getContext('2d');

        //borderColor: 'blue',
        var hrActData = {
          labels: [
            {{# each hractivity }}
              '{{ this.name }}',
            {{/each}}
          ],
          datasets: [
            {
              label: 'minutes',
              backgroundColor: 'blue',
              data: [
                {{# each hractivity }}
                  {{ this.minutes }},
                {{/each}}
              ]
            },
            {
              label: 'caloriesOut',
              backgroundColor: 'green',
              data: [
                {{# each hractivity }}
                  {{ this.caloriesOut }},
                {{/each}}
              ]
            }
          ]
        };

        let hraChart = new Chart(hrChart, {
          type: 'bar',
          data: hrActData,
          }
        )
      </script>
    </section>

    <section class="hractivityintraday">
      <!--<div>
        <h3>HeartRate Intraday Dataset Type: {{hractivityintradaydatasettype}}</h3>
        <h3>[Interval = {{hractivityintradayinterval}} ]</h3>
        <table style="width:200">
          <tr>
            <th>Time:</th>
            <th>Rate(bpm):</th>
          </tr>
          \{ {# each hractivityintraday } }
            <tr class="item">
              <td>{{ this.time }}</td>
              <td>{{ this.value }}</td>
            </tr>
          \{ {/each} }
        </table>
      </div>-->

      <div class="container">
        <canvas id="hrintraChart"></canvas>
      </div>
      <script>
        let hrintraChart = document.getElementById('hrintraChart').getContext('2d');

        var hriaTS = {
          label: 'HR Intraday Activity',
          borderColor: 'green',
          borderWidth: 1,
          pointRadius: 1,
          data: [
            {{# each hractivityintraday }}
              { x: '{{ ../hractivitydate }} {{ this.time }}' , y: {{ this.value }} },
            {{/each}}
          ]
        };
        let hriaChart = new Chart(hrintraChart, {
          type: 'line',
          data: { datasets: [hriaTS] },
          options: {
            scales: {
              xAxes: [{
                type: 'time'
              }]
            }
          }
        })
      </script>
    </section>
{{ else }}
{{/if}}
